.title {
  margin: 50px auto ;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

input {
  height: 40px;
}

.phoneInput {
  width: 200px;
  height: 40px;
}

iframe {
  width:500px;
  height:200px
}

@media (min-width: 751px) and (max-width: 999px) {
  .title{ 
    grid-template-columns: repeat(3, 1fr); 
    margin: 50px auto ;
  }
} 

@media (min-width:570px) and (max-width: 750px) {
  .title { 
    grid-template-columns: repeat(2, 0fr);
  }
  iframe {
    width: 350px;
  }
} 
@media (min-width: 375px) and (max-width: 569px) {
  .title { 
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
  iframe {
    width: 350px;
  }
  .phoneInput {
    width: 215px;
  }
} 

@media (max-width: 499px) {
  .divPhoneInput {
    margin-left: 115px;
  }
  .inputParagraph {
    margin-left: -110px;
  }
}

.border {
  border: 2px solid black;
  height: 260px;
  width: 300px;
  overflow: hidden;
}

.align {
  text-align: center;
}

.img {
  margin-top: 10px
}

.nav {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  justify-content: space-around;
}

.column > .column_2 > .row_3 > div > img {
  height: 0px;
  display: inline-block;
  cursor: pointer;
}

.column > .column_2 > .row_3 > div > input {
  display: inline-block;
  margin-left: 10px;
}

.row > h3 {
  text-align: center;
}

.button_submit {
  text-align: center;
}

@media (max-width: 499px) {
  .column {
    display: inline;
    text-align: center;
  }
}

.map {
  display: flex;
  justify-content: space-around;
}

.map  > img  {
  height: 60px;
  cursor: pointer;
  align-self: center;
  border-radius: 30px;
}

.date {
  align-self: center;
  color: #F7885D;
}

.map > .date > h3 {
   text-align: center;
   border: 2px solid #F7885D;
   border-radius: 30px;
   padding: 4px;
}

.map > i {
  align-self: center;
}

.div_chevron {
  align-self: center;
}

.chevron::after {
  content: ">";
  cursor: pointer;
  color: #F7885D;
  font-weight: bold;
  font-size: 30px;
}

.button {
  background-color: #F7885D;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.button::after {
  font-size: 20px;
  content: "<";
}

.galerie_style > p {
  font-weight: bold;
}

.galerie_style > input {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 10px;
  color: #F7885D;
}

.card {
  border: 1px solid #000000;
  border-radius: 20px;
  min-width: 8%;
  display: inline-grid;
  margin-left: 5px;
  grid-template-columns: 2/3;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

@media (max-width: 566px) {
  .modalContainer {
    width: 80%;
  }
}

.modalBackground2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer2 {
  width: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
}

.modalHeader {
  display: flex;
  justify-content: space-around;
}

.modalBody {
  box-shadow: rgba(0, 0, 0, 0.35) 6px 5px 15px;
  height: 350px;
  width: 310px;
  margin-top: 45px;
}

.footer2 {
  text-align: center;
}

.footer4 {
  display: flex;
  justify-content: space-around;
}

.indexed {
  text-align: center;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
}

.modalContainer .title > input {
  border-radius: 20px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suppress {
  background-color: #F7885D;
  color: white;
  border-radius: 15px;
  border: 1px solid #F7885D;
  width: 200px;
  height: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  cursor: pointer;
}

.updateBtn {
  background-color: white;
  color: #F7885D;
  border-radius: 15px;
  border: 1px solid #F7885D;
  width: 200px;
  height: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  color: #F7885D;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: white;
  color: black
}

.input_modal {
  border-radius: 10px;
  height: 40px;
}

.h1_modal {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.modalBtn {
  border-radius: 30px;
  border: 2px solid #F7885D;
  height: 30px;
  width: 30px;
  background-color: white;
  align-self: center;
  cursor: pointer;
}

.div_modal {
  margin-left: 10px;
}

.div_modal > h4 {
  font-family: 'Montserrat', sans-serif;
}

.submitBtn {
  background-color: #F7885D;
  border: none;
  border-radius: 20px;
  height: 40px;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.modal3btn {
  background-color: #F7885D;
  color: white;
  border-radius: 15px;
  border: 1px solid #F7885D;
  width: 200px;
  height: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.footer3 {
  text-align: center;
  margin-top: -10px;
}

.modalBackground4 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContainer4 {
  width: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
}

.flex {
  display: flex;
}
